@import 'colors';
 
// переменные, названия которых начинаются с нижнего подчеркивания, используются в настройках бутстрапа
$_link_color: $black; 
$_link_hover_color: $boulder; 

$main-bg-color: $lochinvar;

$font-size-btn-lg: 2.25rem;
$font-size-btn-xs: 1.5rem;

$footer-text-color: $doveGray;

$form-text-color: $magnolia;

$common-border-color: $green;